:root {
  --clr-primary: #7e00fd;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a,
p {
  font-size: 1.8rem;
}

p {
  text-wrap: balance;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* ******************************
*******HEADER**************
******************************* */
header {
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.header-cta {
  display: none;
}

.logo {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--clr-primary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 2.2rem;
}

.nav__link {
  font-size: 1.6rem;
  color: #000;
}

.nav__link--active {
  text-decoration: underline;
}

/* ******************************
*******SECTION HERO**************
******************************* */
.section-hero {
  text-align: center;
}

.left-col {
  margin-bottom: 4rem;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.subheading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cta-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-icon {
  height: 3.5rem;
  width: auto;
}

.hero__img {
  width: 90%;
  position: relative;
  z-index: 2;
}

/* ******************************
*******SECTION FEATURES**************
******************************* */

.section-feature {
  position: relative;
  z-index: -2;
  background-color: var(--clr-primary);
  color: #fff;
  /* margin-top: -12rem; */
  /* clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%); */
  padding: 5rem 0 10rem;
  transform: skewY(12deg) translateY(-8rem);
}

.section-feature .wrapper {
  transform: skewY(-12deg);
}

.feature:not(:last-child) {
  margin-bottom: 5rem;
}

.feature__header {
  margin-bottom: 1rem;
}

.feature__icon {
  margin-bottom: 1rem;
}

.heading__tertiary {
  font-size: 2.6rem;
  font-weight: 700;
}

/* ******************************
*******SECTION TESTIMONIALS******
******************************* */
.section-testimonials {
  padding: 5rem 0 5rem;
}
.testimonial__content {
  margin-bottom: 3rem;
}

.testimonial__quote--1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.testimonial__quote--2 {
  font-size: 1.6rem;
}

.testimonial__img {
  border-radius: 1rem;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.testimonial__name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.testimonial__link {
  font-size: 1.8rem;
  color: #5392bf;
  display: inline-block;
  margin-bottom: 2rem;
}

.testimonial__socials > :last-child {
  margin-left: 1rem;
}

/* ******************************
*******FOOTER**************
******************************* */
.footer {
  padding: 2rem 0 3rem;
  background-color: #ededed;
}

.footer__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__cta-btns {
  display: flex;
  gap: 2rem;
}

.footer .wrapper > *:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer__nav--secondary {
  display: flex;
  gap: 1rem;
}

.terms__link,
.privacy__link {
  font-size: 1.4rem;
  color: #363636;
  text-decoration: underline;
}

@media only screen and (min-width: 43.15em) {
  a,
  p {
    font-size: 2rem;
  }

  /* Header */
  .header-cta {
    display: inline;
    background-color: #7e00fd;
    color: #fff;
    padding: 0.6rem 1.8rem;
    border-radius: 0.5rem;
  }

  .nav__link {
    font-size: 2rem;
  }

  /* Section Hero */
  .heading-primary {
    font-size: 5.1rem;
    line-height: 1.1;
  }

  .subheading {
    font-size: 2.2rem;
    margin-bottom: 4rem;
  }

  .section-hero {
    text-align: left;
  }

  .section-hero .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .section-hero .left-col {
    flex: 2;
  }
  .hero-icon {
    height: 5rem;
    width: auto;
  }

  .section-hero .right-col {
    flex: 1;
    position: relative;
    height: 500px;
    overflow: hidden;
  }

  .hero-img {
    position: absolute;
    top: 0;
    left: 5rem;
    width: 100%;
  }

  .cta-btns {
    justify-content: flex-start;
  }

  /* Section features */
  .section-feature {
    transform: skewY(6deg) translateY(-12rem);
  }

  .section-feature .wrapper {
    transform: skewY(-6deg);
  }

  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .feature:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .heading__tertiary {
    font-size: 3.2rem;
  }

  /* Section testimonials */
  .testimonial__info {
    display: flex;
    gap: 3rem;
  }

  .testimonial__quote--1 {
    font-size: 3.5rem;
  }

  .testimonial__quote--2 {
    font-size: 2rem;
  }

  .testimonial__img {
    width: 48%;
    margin-bottom: 0;
  }

  .testimonial__links {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .testimonial__socials {
    margin-top: auto;
  }
}
