:root {
  --clr-primary: #7e00fd;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a,
p {
  font-size: 1.8rem;
}

header {
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.header-cta {
  display: none;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--clr-primary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 2.2rem;
}

.nav__link {
  font-size: 1.6rem;
  color: #000;
  display: inline-block;
  /* padding-bottom: 1rem; */
}

.nav__link--active {
  text-decoration: underline;
}

.section-hero {
  text-align: center;
}

.left-col {
  margin-bottom: 4rem;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.subheading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cta-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-icon {
  height: 3.5rem;
  width: auto;
}

.hero__img {
  width: 90%;
  position: relative;
  z-index: 2;
}
